<div class="login" id="form_logined" style="width:500px">
    <div style="text-align: right;" class="user-logined">
        <span>Chào bạn: <b><a href="https://lode88.us/member.html" style="color: #d70a0a; text-decoration: underline;" id="form_username">tealboo99</a></b></span>
        <a href="https://lode88.us/logout.html" class="lode-logout">Đăng Xuất</a>
    </div>
    <div class="txt-link reset-pwd">
        <div class="lode-deposit">
            <p id="cash">0 K</p>
            <div class="deposit-money"><a href="https://lode88.us/member.html#giao-dich">NẠP TIỀN</a></div>
        </div>
    </div>

</div>